@use "../../sass/base/base.scss";

.friend-list {
	margin-top: 100px;
	padding: 20px;

	outline: 2px solid #cba6f7;
	width: 500px;

	display: flex;
	flex-direction: column;
	gap: 20px;

	&__item {
		background-color: #1f1626;
		padding: 20px;

		display: flex;
		justify-content: space-between;
		align-items: center;

		outline: 1px solid #cba6f7;
	}

	&__status {
		width: 20px;
		height: 20px;
		border-radius: 50%;
	}
}
